// // Portfolio gallery's buttons

// .filter {
//     display: flex;
//     justify-content: center;
//     padding-top: 94px;
//     padding-bottom: 50px;

//     & li:not(:last-child) {
//         margin-right: 8px;
//     }
// }

// .btn {
//     border-radius: 4px;
//     padding: 6px 22px;
//     border: 0px;

//     font-family: $roboto-font, sans-serif;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.62;
//     text-align: center;
//     letter-spacing: 0.03em;

//     background-color: $primary-button-color;
//     color: $title-text-color;
//     cursor: pointer;

//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//                 color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//         background-color: $accent-color;
//         color: $primary-bg-color;
//     }
// } 