// .contacts-header {
//     display: flex;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     align-items: center;

//     font-family: $roboto-font, sans-serif;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     text-decoration: none;
//     color: $primary-text-color;

//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//         color: $accent-color;
//     } 

//     &:hover .icon-contacts,
//     &:focus .icon-contacts {
//         fill: $accent-color;
//     }
// }

// .icon-contacts {
//     margin-right: 10px;

//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .contacts {
//     display: flex;
//     margin-left: auto;

//     & li:not(:last-child) {
//         margin-right: 50px;
//     }
// }