.form {
    width: 370px;
    margin: 40px;;
    z-index: 1;

    @media screen and (min-width: 1200px) {
        width: 448px;
    }
}

.form-field {
    display: flex;
    flex-direction: column;

    & + & {
        margin-top: 10px;
    }

    & input {
        position: relative;
        margin: 0;
        padding: 0;
        padding-left: 42px;
        height: 40px;
        width: 100%;

        font-family: $roboto-font, sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.167;
        letter-spacing: 0.01em;

        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;

        color: $primary-text-color;
    }

    & label {
        margin: 0;
        padding: 0;
        
        font-family: $roboto-font, sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.167;
        letter-spacing: 0.01em;

        color: $primary-text-color;
    }

    & textarea {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 16px;
        padding-right: 16px;
    
        font-family: $roboto-font, sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.167;
        letter-spacing: 0.01em;
    
        color: $primary-text-color;
    }

    & textarea::placeholder {
        padding: 0;
        
        font-family: $roboto-font, sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.167;
        letter-spacing: 0.01em;
    
        color: rgba(117, 117, 117, 0.5);
    }
}

.form-name {
    display: block;
    margin-bottom: 4px;
}

textarea {
    resize: none;
    height: 120px;
    display: block;
    width: 100%;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:focus {
        outline: 0;
        border-color: $accent-color;
    }
}

.form-text {
    margin-bottom: 12px;
    padding: 0;

    font-family: $roboto-font;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;

    color: $title-text-color;

    @media screen and (min-width: 1200px) {
        line-height: 1.15;
    }
}

.form-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    & label {
        margin: 0;
        padding: 0;

        font-family: $roboto-font, sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.167;
        letter-spacing: 0.03em;

        color: $primary-text-color;

        @media screen and (min-width: 1200px) {
            font-size: 14px;
            line-height: 1.71;
        }
    }

    & a {
        text-decoration: underline;
        color: $accent-color;
    }
}

.form-submit {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.submit {
    padding: 10px 55px 10px 56px;
    margin: 0;
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 4px;

    font-family: $roboto-font, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;

    color: $primary-bg-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: $primary-button-color;
        color: $accent-color;
    }
}

.form-input {
    position: relative;
}

.icon-form {
    position: absolute;
    margin-left: 15px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    position: absolute;
}

.checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-checkbox {
    display: block;
    min-width: 16px;
    height: 15px;
    margin-right: 7px;
    background-image: url(../imeges/icons/check.svg);
}

.checkbox:checked + .custom-checkbox {
    background-image: url(../imeges/icons/checked.svg);
}


.input:focus + .icon-form {
    fill: $accent-color;
}

.input:focus {
    outline: 0;
    border-color: $accent-color;
}

.input:hover {
    cursor: pointer;
}