.hero-section {
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
}

// .hero {
//     // max-width: 696px;
//     margin-left: auto;
//     margin-right: auto;
// }

.overlay {
    // max-width: 480px;
    // height: 400px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(
        to right, 
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)
        ), 
        url(../imeges/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    margin-bottom: 30px;
    padding: 0px 60px;

    font-family: $roboto-font, sans-serif;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $primary-bg-color;
}

.hero-btn {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    border: 0px;
    min-width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-family: $roboto-font, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;

    background-color: $accent-color;
    color: $primary-bg-color;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $primary-bg-color;
        color: $accent-color;
    }
}