.logo {
    font-family: $raleway-font, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.03em;

    color: $accent-color;
    text-decoration: none;
}

footer .logo {
    display: block;
    text-align: center;
}

.logo-header {
    font-family: $raleway-font, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: $title-text-color;
    text-decoration: none;
}

.logo-footer {
    font-family: $raleway-font, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    text-decoration: none;
    color: $primary-bg-color;
}