.menu-btn {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover .icon-cross,
    &:focus .icon-cross,
    &:hover .icon-menu,
    &:focus .icon-menu, {
        fill: $accent-color;
    }
    & .icon-cross {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-btn.is-open .icon-cross {
    display: block;
}

.menu-btn.is-open .icon-menu {
    display: none;
}

.menu-mobile {
    @media screen and (max-width: 767px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.menu-container {
    background-color: $primary-bg-color;

    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 100%;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 54px;
        border-top: solid #ECECEC 1px;
        
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 
                    0px 2px 4px rgba(0, 0, 0, 0.08), 
                    0px 1px 3px rgba(0, 0, 0, 0.16);

        &.is-open {
            display: block;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    @media screen and (min-width: 1200px) {
        width: 100%;
    }
}

header {
    position: relative;
}

.nav {
    @media screen and (max-width: 767px) {
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}

.header {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}

.site-nav {
    @media screen and (min-width: 768px) {
        display: flex;
        margin-left: 88px;
    
        & li:not(:last-child) {
            margin-right: 50px;
        }
    }

    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }
}

.nav-link {
    position: relative;
    display: inline-flex;
    padding-top: 20px;
    padding-bottom: 20px;

    font-family: $roboto-font, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $title-text-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        color: $accent-color;
    }

    @media screen and (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 32px;

        font-size: 14px;
        line-height: 1.14;
    }
}

.line {
    display: flex;
    border: 1px solid #ECECEC;
    flex-grow: 1;
}

/* Current page */

.nav-link.current {
    color: $accent-color;

    @media screen and (max-width: 767px) {
            padding-bottom: 32px;
    }
}

.nav-link::after,
.current::after {
    position: absolute;
    bottom: 24px;
    width: 100%;
    height: 4px;

    content: '';
    display: block;
    border-radius: 2px;
    background-color: $accent-color;

    opacity: 0;

    @media screen and (min-width: 768px) {
        bottom: 0;
    }
}

.current::after {
    opacity: 1;
} 