.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $secondary-bg-color;
}

.address {
    margin-bottom: 9px;
    margin-top: 20px;

    font-family: $roboto-font, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: center;

    color: $primary-bg-color;
}

.contacts-footer {
    font-family: $roboto-font, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);

    & + & { 
        margin-top: 9px;
    }
}

.address-flexbox {
    display: flex;
    flex-direction: column;
    font-style: normal;
}

.join {
    margin-bottom: 20px;

    font-family: $roboto-font, sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;

    text-transform: uppercase;
    color: $primary-bg-color;
}

.our-social-links {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    fill: $primary-bg-color;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}

// .footer-flexbox {
//     display: flex;
// }

// .address-container {
//     margin-right: 70px;
// }

.join-container {
    padding-top: 12px;
}