.portfolio-section {
    padding-bottom: 60px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-list {
    // margin-right: 30px;
    // margin-bottom: 30px;
    width: 100%;

    background: $primary-bg-color;

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    // &:nth-child(3n) {
    //     margin-right: 0px;
    // }

    // &:nth-last-child(-n +3) {
    //     margin-bottom: 0px;
    // }
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
    height: 294px;
}

.hidden-text {
    position: absolute;
    left: 0;
    top: 50%;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0;
    transform: translate(0, -50%);
    
    font-family: $roboto-font, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: $primary-bg-color;
}

.portfolio-overlay {
    position: absolute;
    width: 100%;
    height: 294px;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link {
    display: block;
    border: 1px solid #EEEEEE;

    &:hover .portfolio-overlay,
    &:focus .portfolio-overlay {
        transform: translateY(0);
    } 

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                    0px 4px 4px rgba(0, 0, 0, 0.06), 
                    1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.examples {
    margin-top: 20px;
    margin-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;

    font-family: $roboto-font, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-text-color;
}

.examples-item {
    padding-bottom: 20px;
    margin-bottom: 0px;
    padding-left: 24px;
    padding-right: 24px;

    font-family: $roboto-font, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}