.social {
    display: flex;
    justify-content: center;
    padding-bottom: 24px;

    & > li:not(:last-child) {
        margin-right: 10px;
    }
}

.social-links {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    fill: #AFB1B8;
    background-color: $primary-bg-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .social-icons,
    &:focus .social-icons {
        fill: $primary-bg-color;
    }

    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}

.social-icons {
    width: 20px;
    height: 20px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}