// .subscribe-container {
//     padding-top: 12px;

//     & input {
//         margin-right: 12px;
//         width: 358px;
//         height: 50px;
//         padding-top: 15px;
//         padding-bottom: 15px;
//         padding-right: 16px;
//         padding-left: 16px;

//         font-family: $roboto-font, sans-serif;
//         font-weight: 400;
//         font-size: 16px;
//         line-height: 1.25;
//         letter-spacing: 0.03em;

//         color: rgba(255, 255, 255, 0.6);

//         border-radius: 4px;
//         border: 1px solid rgba(255, 255, 255, 0.3);
//         background-color: $secondary-bg-color;
//     }

//     & input::placeholder {
//         padding: 0;

//         font-family: $roboto-font, sans-serif;
//         font-weight: 400;
//         font-size: 16px;
//         line-height: 1.25;
//         letter-spacing: 0.03em;

//         color: rgba(255, 255, 255, 0.6);
//     }
// }

// .subscribe-btn {
//     padding-top: 10px;
//     padding-bottom: 10px;
//     margin: 0;
//     width: 200px;
//     height: 50px;
//     border: 0;
//     border-radius: 4px;

//     font-family: $roboto-font, sans-serif;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.87;
//     text-align: center;
//     letter-spacing: 0.06em;

//     color: $primary-bg-color;
//     background-color: $accent-color;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     cursor: pointer;

//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//                 color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//         background-color: $primary-bg-color;
//         color: $accent-color;
//     }

//     &:hover .icon-send {
//         fill: $accent-color;
//     }
// }

// .icon-send {
//     margin-left: 10px;
//     vertical-align: middle;

//     fill: $primary-bg-color;

//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .form-footer {
//     display: flex;
//     align-items: center;
// }