html {
        box-sizing: border-box;
    }

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    h1,
    h2,
    h3,
    p {
      margin-top: 0;
    }

    a {
        text-decoration: none;
    }

    :root {
        --primary-text-color: #757575;
        --title-text-color: #212121;
        --accent-color: #2196F3;
        --primary-bg-color: #FFFFFF;
        --secondary-bg-color: #2F303A;
        --primary-button-color: #F5F4FA;
    }
    
    body {
        background-color: $primary-bg-color;
        color: $primary-text-color;
    }
    
    .list {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;

        @media screen and (min-width: 480px) {
                width: 480px;
        }
    
        @media screen and (min-width: 768px) {
                width: 768px;
        }
    
        @media screen and (min-width: 1200px) {
                width: 1200px;
        }
    }